<div id="map"></div>
<div class="container-fluid">
  <script>

    var dogIcon = L.icon({
      iconUrl: '<%= asset_path "dog-solid.svg" %>',
      iconSize: [30, 30], // size of the icon
      iconAnchor: [0, 0], // point of the icon which will correspond to marker's location
      popupAnchor: [0, 0] // point from which the popup should open relative to the iconAnchor
    });

    // initialize the map
    var map = L.map("map").setView([45.520656, -122.677388], 13);

    // load a tile layer
    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
    {
      attribution: 'Tiles by a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      maxZoom: 17,
      minZoom: 9
    }).addTo(map);

    if (marker) {

    } else {
      let marker;
    }

  </script>
  <h1>Watering Holes</h1>
  <div id="search-criteria" class="container">
    <form action='/establishments' class="form-inline my-2 my-lg-0">
      <div class="form-check form-check-inline">
        <input name="indoor" class="form-check-input" type="checkbox" id="" value="None">
        <label class="form-check-label" for="">Indoor access</label>
      </div>
      <div class="form-check form-check-inline">
        <input  name='kids'class="form-check-input" type="checkbox" id="" value="Yes">
        <label class="form-check-label" for="">Kid-friendly</label>
      </div>
      <input name='search' class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
  <div class="container">
    <div class="scroll-box">
      <% if @establishments %>
      <% @establishments.each do |establishment| %>
      <p><%= link_to establishment.fetch(:name), "/establishments/#{ establishment.fetch(:id) }", class: "text-white" %></p>
      <script>
        marker = L.marker([<%= establishment.fetch(:lat) %>, <%= establishment.fetch(:long) %>], {icon: dogIcon}).addTo(map);
        marker.bindPopup('<%= link_to establishment.fetch(:name), "/establishments/#{ establishment.fetch(:id) }" %>').closePopup();
      </script>
      <% end %>
    </div>
    <center><p class="note">Scroll down to view the complete list.</p></center>
    <center><i class="fas fa-arrow-circle-down"></i></center>
  </div>
  <% else %>
  <p>Ruh roh! There are currently no dog-friendly watering holes that meet your search criteria.</p>
  <% end %>
</div>
