<!DOCTYPE html>
<html>
<head>
  <title>BeerAndDogsFrontend</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Anton|Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark justify-content-between">
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
      <a class="navbar-brand" href="/establishments">View All Pet Friendly Portland Establishments</a>
      <form class="form-inline search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    <div id="clipped-title1">
      <h1>HOP HOUNDS</h1>
    </div>
    <div id="clipped-title2">
      <h1>Find the <em>pawfect</em> pint for you and your pup!</h1>
    </div>
    <%= yield %>
  </div>
</body>
</html>
