<!DOCTYPE html>
<html>
<head>
  <title>BeerAndDogsFrontend</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">

    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
      <a class="navbar-brand" href="/products">View All Pet Friendly Portland Establishments</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    <div class="jumbotron">
      <h1>Beers and Dogs</h1>
    </div>
  <%= yield %>
</div>
</body>
</html>
